*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../../TrabajoPracticoFinal/img/fondocine.jpg);
    background-size: cover;
    height: min-content;
    background-repeat: no-repeat;
}