*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

div{
    display: flex;
    justify-content: center;
}

.boton{
    width: max-content;
    border: solid black;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-size: 131px;
}

.boton:hover{
    background-color: rgba(86, 180,240, 1);
    opacity: 70%;
    font-size: 80px;
    border-radius: 50%;
}