*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../../TrabajoPracticoFinal/img/fondocine.jpg);
    background-size: cover;
    height: min-content;
}

section{
    height: max-content;
}

div{
    display: flex;
    justify-content: center;
}
section>div>img{
    height: 500px;
}

.boton{
    width: max-content;
    border: solid black;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-size: 131px;
}

.boton:hover{
    background-color: rgba(86, 180,240, 1);
    opacity: 70%;
    font-size: 80px;
    border-radius: 50%;
}
/*---MEDIA QUERY---*/
@media (max-width: 768px){
    section{
        margin-top: 15%;
    }

    section>div>img{
    height: 300px;
    }

    .boton{
    width: max-content;
    padding: 1%;
    font-size: 100px;
    }

}

@media(max-width: 320px){
    section{
        margin-top: 50%;
    }

    section>div>img{
    height: 250px;
    }

    .boton{
    width: max-content;
    padding: 1%;
    font-size: 70px;
    }

}